<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/normalize.css"> -->
</head>
<body>
    <main class="contenedor">
        <div class="contenido">
            <h1>¡Bienvenido Arredondo!</h1>
            <p>¿Estás listo para acceder a tu panel de control?</p>
        </div>
        <div class="contenido color">
            <h2>Iniciar Sesión</h1>

            {% if mensaje_error %}
                <p style="color: red;">{{ mensaje_error }}</p>
            {% endif %}

            <form class="login" method="post" action="/login">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </main>
</body>
</html>
